{% extends "chongmu/logined_base.html" %}
{% load static %}



{% block body %}
  

<section class="bg-light">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <div class="card w-100">
            {% if club.photo %}
            <img class="card-img-top" src="{{club.photo.url}}" alt="Card image cap" style="height: 11rem;">
            {% else %}
            <img class="card-img-top" src="{% static 'chongmu/img/example.jpg' %}" alt="Card image cap" style="height: 11rem;">
            
            {% endif %}
          
          <div class="card-body">
            <h4>
              {{club.name}}
              <div class="float-right">
                <a href="{% url 'club:leaveClub' club.id %}" class="col-sm-12" id="deleteClubButton" style="display:none">
                  <span class="badge badge-pill badge-secondary  align-bottom" style="font-size:10px">클럽삭제</span>
                </a>
                
                <a href="{% url 'club:leaveClub' club.id %}" class="col-sm-12" id="leaveClubButton" style="display:none">
                  <span class="badge badge-pill badge-secondary  align-bottom" style="font-size:10px">클럽탈퇴</span>
                </a>
              </div>
            </h4>
          </div>
        </div>
        
        <div class="list-group mt-3">
          {% block list %}
          {% endblock %}
        </div> 
      </aside>

      <div class="col-md-9">
        {% block content %}

        {% endblock %}


      </div>
    </div>
  </div>  
</section>

{% endblock %}