{% extends "club/club_base.html" %}
{% load static %}



      {% block list %}
      <a href="{% url 'club:index' club.id %}" class="list-group-item list-group-item-action bg-light text-body">게시판</a>
        <a href="{% url 'club:member' club.id %}" class="list-group-item list-group-item-action">멤버</a>
        <a href="{% url 'club:meeting' club.id %}" class="list-group-item list-group-item-action">모임</a>
      {% endblock %}
     
        
      {% block content %}
        <div class="row">
          <div class="card w-100">
            <div class="card-body">
              <form action="{% url 'club:post' club.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <textarea class="form-control" rows="8" placeholder="클럽에 남길 글을 입력해주세요" name="postText"></textarea>
                </div>
                <button type="submit" class="btn btn-primary float-right">작성</button>
              </form>
            </div>
          </div>
        </div>

        {% for post in posts %}
        <div class="row">
          <div class="card w-100 mt-3">
            <div class="card-body">
                
              <div class="subheading"> {{post.author}} </div>
              <small class="text-muted"> {{post.created_date}} </small>
              <h6>{{ post.text|linebreaksbr }}</h6>
            </div>
            <div class="card-footer">
              {% for comment in post.comments.all %}
                <h6>{{ comment.text }} - <i>{{ comment.author }}</i> <i class="text-muted">{{ comment.created_date }}</i> </h6>
                <hr>
              {% endfor %}


              <form action="{% url 'club:comment' club.id %}" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                  <input type="hidden" value="{{post.id}}" name="postID">
                  <input type="text" class="form-control" placeholder="작성할 댓글을 입력해 주세요." aria-describedby="button-addon2" name="commentText">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">작성</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}

      {% endblock %}