{% extends "club/club_base.html" %} 
{% load static %} 
{% block list %}
  <a href="{% url 'club:index' club.id %}" class="list-group-item list-group-item-action ">게시판</a>
  <a href="{% url 'club:member' club.id %}" class="list-group-item list-group-item-action ">멤버</a>
  <a href="{% url 'club:meeting' club.id %}" class="list-group-item list-group-item-action bg-light text-body">모임</a>
{% endblock %} 

{% block content %}
  <div class="row">
    <div class="card w-100">
      <div class="card-body">
        <div class="subheading"> 출석체크 </div>
          <hr>
          <form action="{% url 'club:checkAttendance' club.id meeting.id %}" method="post" id="checkAttendance">
            {% csrf_token %}
            {% for member in meeting.members.all %}
              <div class="form-row">
                <label class= "col-sm-2 col-form-label text-center" for="attendselect"> {{member.member_name}} </label>
                <div class="btn-group btn-group-toggle col-sm-10" data-toggle="buttons">
                  <label class="btn btn-outline-primary active">
                    <input type="radio" name="{{member.member_id}}" value="attendance" autocomplete="off" checked> 출석
                  </label>
                  <label class="btn btn-outline-primary">
                    <input type="radio" name="{{member.member_id}}" value="lateness" autocomplete="off"> 지각
                  </label>
                  <label class="btn btn-outline-primary">
                    <input type="radio" name="{{member.member_id}}" value="absence" autocomplete="off"> 결석
                  </label>
                </div>
              </div>
              <hr>
            {% endfor %}
            <button type="submit" class="btn btn-outline-secondary"> 완료 </button>
          </form>
        
        


      </div>
    </div>
  </div>
{% endblock %}




{% block js %}

<script src='{% static "chongmu/ABI(180807).js" %}'></script>
<script type="text/javascript">

  $(function () {

      if (typeof web3 !== 'undefined') {
        web3 = new Web3(web3.currentProvider);
      } else {
        // set the provider you want from Web3.providers
        console.log("메타마스크를 설치해 주세요.");
      }

    }
  )



  var firstCall = true;
  $("#checkAttendance").submit(function () {
    if(firstCall){

        var myContractAddress = '0xb3929ff60b46cd191f6d8712c5a90d8e2220c5fe';
        var myContract = web3.eth.contract(kimchongmuABI).at(myContractAddress);
        var myAddress = web3.eth.accounts[0];

        var memberIDArray = {{ memberIDArray|safe }};
 
        for(var i=0; i<memberIDArray.length; i++){

          checkedValue = $("input[name='"+memberIDArray[i]+"']:checked").val();

          if(checkedValue == 'attendance'){
            console.log(0);

          }else if(checkedValue == 'lateness'){
            console.log(1);
          }
          else if(checkedValue == 'absence'){
            console.log(2);
          }
        }

        
        // 특정 멤버의 출석여부를 결정해주는 함수
        myContract.clubCreate.sendTransaction('test', { from: myAddress }, function (err, transactionHash) {
            if (!err){
              console.log(transactionHash + " success");
              firstCall= false;
              $("#checkAttendance").submit();
            }
          }
        );
        return false;
    }else{
      return true;
    }
  });



</script> 
{% endblock %}