{% extends "club/club_base.html" %}
{% load static %}


{% block list %}
<a href="{% url 'club:index' club.id %}" class="list-group-item list-group-item-action ">게시판</a>
<a href="{% url 'club:member' club.id %}" class="list-group-item list-group-item-action bg-light text-body">멤버</a>
<a href="{% url 'club:meeting' club.id %}" class="list-group-item list-group-item-action">모임</a>
{% endblock %}


{% block content %}
<div class="row">
  <div class="card w-100">
    <div class="card-body">
      <div class="subheading"> 멤버추가 </div>
      <hr>
      <form action="{% url 'club:addMember' club.id %}" method="post" id="addMember">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="추가할 멤버 ID" name="member_id" id="memberID" aria-describedby="button-addon2"/>
          <div class="input-group-append">
            <button type="submit" class="btn btn-outline-primary float-right">작성</button>
          </div>
          <input type="hidden" id="clubName" value="{{club.name}}"/>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="card w-100 mt-3">
    <div class="card-body">
      <div class="subheading"> 멤버 </div>
      <hr>
      {% for clubMember in club.members.all%}
        <h6 id="clubMembers" value="{{clubMember}}">{{clubMember}}</h6>
        <hr> 
      {% endfor %}
    </div>
  </div>
</div>
  {% endblock %}


{% block js %}
{% endblock %}
