{% extends "club/club_base.html" %}
{% load static %}

{% block list %}
<a href="{% url 'club:index' club.id %}" class="list-group-item list-group-item-action ">게시판</a>
<a href="{% url 'club:member' club.id %}" class="list-group-item list-group-item-action ">멤버</a>
<a href="{% url 'club:rule' club.id %}" class="list-group-item list-group-item-action bg-light text-body">회칙</a>
<a href="{% url 'club:meeting' club.id %}" class="list-group-item list-group-item-action">모임</a>
<a href="{% url 'club:fee' club.id %}" class="list-group-item list-group-item-action">회비</a>
{% endblock %}


{% block content %}
<div class="row">
  <div class="card w-100">
    <div class="card-body">
      <div class="subheading"> 회칙 </div>
      <hr>
      <h6>지각 4회 시 벌금 : 30000원</h6>
      <hr>
      <h6>결석 2회 시 벌금 : 30000원</h6>
      <hr>
      <h6>회비 : 월 100000원</h6>

      
      <form action="{% url 'club:textMining' club.id %}" method="post">
          {% csrf_token %}
            <br>
          {% for rule in club.rule_set.all%}
            {{rule}}
            <br>
          {% endfor %}
      </form>

    </div>
  </div>
</div>

<div class="row">
  <div class="card w-100 mt-3">
    <div class="card-body">
      <div class="subheading"> 회칙 추가 </div>
      <hr>
      <form action="{% url 'club:textMining' club.id %}" method="post">
          {% csrf_token %}
          <input type="file" placeholder="등록할 회칙 파일" id="rule" name="rule"/>
          <input type="submit" value="등록" />
      </form>
    </div>
  </div>
</div>
  {% endblock %}