{% extends "club/club_base.html" %} 
{% load static %} 
{% block list %}
  <a href="{% url 'club:index' club.id %}" class="list-group-item list-group-item-action ">게시판</a>
  <a href="{% url 'club:member' club.id %}" class="list-group-item list-group-item-action ">멤버</a>
  <a href="{% url 'club:meeting' club.id %}" class="list-group-item list-group-item-action bg-light text-body">모임</a>
{% endblock %} 

{% block content %}
  <div class="row">
    <div class="card w-100">
      <div class="card-body">
        <div class="subheading"> 모임에 초대할 멤버를 선택해 주세요 </div>
        <hr>
        <form action="{% url 'club:inviteMember' club.id meeting_id %}" method="post">
          {% csrf_token %}
          {% for clubMember in club.members.all%}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value={{clubMember.member_id}} id="defaultCheck{{ forloop.counter }}" name="memberID">
            <label class="form-check-label w-100" for="defaultCheck{{ forloop.counter }}">
                {{clubMember}}
            </label>
          </div>
          <hr>
          {% endfor %}
          <button type="submit" class="btn btn-outline-primary">초대</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %} 