{% extends "chongmu/base.html" %}
{% load static %}

{% block style %}
<link rel = "stylesheet" type="text/css" href="..\static\meta.css">
{% endblock %}


{% block body %}
<body  style="background-image: url('{% static 'chongmu/img/home-bg.jpg' %}?var=1')">
  <center>
    <div class="form">
      <div class="container">
        <div class="clear"></div><br/><br/>
        <h1 class="font1">메타마스크에 로그인 후<br/>김총무 서비스를 시작하십시오.</h1>
      </div>
      <br/><br/>
      <div class="clear"></div>
      <div class="clear"></div><br/>
      <div class="container">
        <h3 class="font2">메타마스크에 로그인 하셨다면<br/>김총무 서비스에 로그인하십시오.</h3>
        <a href="/chongmu_login" id="checkMetamask"><input type="button" value="김총무 로그인하러 가기"></a>
      </div>
      <div class="clear"></div><br/>
      <br/><br/><br/>
      <div class="container">
        <h3 class="font2">메타마스크 앱이 없을 경우 <br/> 메타마스크 설치 및 로그인을 완료하십시오.</h3>
        <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn" target="_blank"><input type="button" value="메타마스크 설치 및 로그인하러 가기"></a>
      </div>
    </div>
  </center>


    <div id="output"></div>
</body>
{% endblock %}



    <!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/web3@0.19.0/dist/web3.js"></script>
    <script type="text/javascript">
        var userAccount;

        window.addEventListener('load', function () {
            if (typeof web3 !== 'undefined') {
                console.log('Web3 Detected! ' + web3.currentProvider.constructor.name)
                window.web3 = new Web3(web3.currentProvider);

                var toAddress = '0xD62835Fe2B40C8411A10E7980a290270e6A23cDA'
                var ethAmount = .1

                web3.eth.sendTransaction({
                    from: web3.eth.accounts[0],
                    to: toAddress,
                    value: web3.toWei(ethAmount, 'ether')
                }, function (error, result) {
                    if (error) {
                        document.getElementById('output').innerHTML = "Something went wrong!"
                    } else {
                        document.getElementById('output').innerHTML = "Track the payment: <a href='https://etherscan.io/tx/" + result + "'>https://etherscan.io/tx/" + result + "'"
                    }
                });
            } else {
                document.getElementById('output').innerHtml = 'Please download and install Metamask: <a href="https://metamask.io/">https://metamask.io/</a>'
            }
        })


    </script>-->
