<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>frontend_blockchain</title>
<!--    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/web3@0.19.0/dist/web3.js"></script>-->
    <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--크립토좀비-->

    <script language="javascript" type="text/javascript" src="{% static 'web3.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'kimchongmuABI.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'contract.js' %}"></script>
<!--    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
-->
<!--    <script language="javascript" type="text/javascript" src="../../../json/web3.js-0.20.6/dist/web3.js"></script>
    <script language="javascript" type="text/javascript" src="kimchongmuABI.js"></script>
-->    <!--v0.20.6-->
<!--    <script type="text/javascript">

</script>-->
  <script>
  </script>
</head>
<body>
안녕하세요 <메타마스크의 Web3 프로바이더 사용하기>
<script>

</script>
</body>
</html>
