{% extends "chongmu/base.html" %}
{% load static %}

{% block menu %}
<li class="nav-item">
  <a class="nav-link" href="/meta_login">로그인</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/meta_login">회원가입</a>
</li>
{% endblock %}


{% block body %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{% static 'chongmu/img/home-bg.jpg' %}?var=1')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h3>블록체인 기반 회칙 자동집행 서비스, 김총무.</h3>
          <h2><strong>회비를 투명하게, 모임을 편리하게 관리하세요!</strong></h2>
        </div>
      </div>
    </div>
  </div>
</header>
          
    <!-- introduction -->
    <section class="bg-info" id="introduction">
        <div class="container">
          <div class="row text-center">
            <div class="col-lg-8 mx-auto text-center">
                <hr class="intro-hr">
                <h3>동아리, 학생회의 <b>불투명했던 예산집행.</b></h3>
                <h3>스터디의 <strong>번거로웠던 회비관리.</strong></h3>
                <h3><strong>김총무</strong>로 해결하세요.</h3>
                <hr class="intro-hr">
                <a class="btn btn-light btn-xl js-scroll-trigger" href="/meta_login" id="start">시작하기!</a>
            </div>
          </div>
        </div>
      </section>


    <!-- Services -->
    <section  class="bg-light" id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Service</h2>
            <h3 class="section-subheading text-muted"></h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-info"></i>
              <i class="fa fa-hand-holding-usd fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">투명한 회비 관리</h4>
            <p class="text-muted">블록체인에 기록된 회비내역을 모두 공유하므로 투명한 회비 관리가 가능합니다.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-info"></i>
              <i class="fa fa-file-alt fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">등록된 회칙 자동집행</h4>
            <p class="text-muted">텍스트 마이닝 및 스마트 컨트랙트를 통해 등록한 회칙을 자동 집행합니다.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-info"></i>
              <i class="fa fa-users fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">편리한 모임 관리</h4>
            <p class="text-muted">모임 일정 관리, 출석체크, 회비납부관리 등을 간편하게 이용가능합니다.</p>
          </div>
        </div>
      </div>
    </section>





    

    <!-- Team -->
    <section id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">ABOUT US</h2>
            <br>
            <br>
          </div>
        </div>
          <div class="row">
            <div class="col-lg-2 mx-auto text-center">
              <img class="img-fluid" src="{% static 'chongmu/img/tomak.jpg' %}" alt="">
            </div>
          </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h3>TOMAK</h3>
            <h4 class="text-muted">서울시립대학교 블록체인 연구회</h3>
          </div>
        </div>
      </div>
    </section>


{% endblock %}