{% extends "chongmu/base.html" %}
{% load static %}

  {% block style %}
    <style>
      #mainNav { background-color:white !important; box-shadow: 1px 1px 1px 1px rgb(190, 190, 190);}
      #mainNav .navbar-brand { color:black !important;}
      #mainNav #navbarResponsive * { color:black !important;}
    </style>
  {% endblock %}

  {% block menu %}

    <li class="nav-item">
      <h6 class="nav-link" style="padding-right:40px"> {{request.session.member_id}} 님, 환영합니다. </h6>
    </li>

    <li class="nav-item">
      
    </li>
    
    <li class="dropdown">
      <button type="button" class="btn btn-link mybtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if meetingList %}
            <img src="{% static 'chongmu/img/alarm_new.png' %}" style="height:20px">
          {% else %}
            <img src="{% static 'chongmu/img/alarm.png' %}" style="height:20px">
          {% endif %}
      </button>
    
      <ul class="dropdown-menu dropdown-menu-right p-4 text-muted">
        <div>
          <strong>쪽지함</strong>
        </div>
        <div class="dropdown-divider"></div>

        <!-- 
          meeting.0 : club.name
          meeting.1 : meeting.name
          meeting.2 : meeting.id
          meeting.3 : meeting.contentType
          meeting.4 : club.id
        -->


        {% for meeting in meetingList %}
          {% if meeting.3 == '0' %}
            <div style="width:30rem;">
              {{ meeting.0 }}클럽의 {{ meeting.1 }} 모임에서 {{request.session.member_id}}님을 초대하셨습니다.
            </div>
            <div>
              <form action="{% url 'club:acceptInvitation' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="meetingID" value="{{ meeting.2 }}"> 
                <button type="submit" name="accept" value = "yes" class="btn mybtn">수락</button>
                <button type="submit" name="accept" value = "no" class="btn mybtn">거절</button>
              </form>
            </div>
  
          {% elif meeting.3 == '1' %}
            <div style="width:30rem;">
              {{ meeting.0 }}클럽의 {{ meeting.1 }} 모임에서 모든 모임원이 초대를 수락했습니다. 모임을 확정해주세요!
            </div>
            <div>
              <a href ="{% url 'club:meetingInfo' meeting.4 meeting.2 %}">
                <button class="btn mybtn">이동</button>
              </a>
            </div>
          
          {% elif meeting.3 == '2' %}
            <div style="width:30rem;">
              {{ meeting.0 }}클럽의 {{ meeting.1 }} 모임이 확정되었습니다! 예치금을 납부해주세요.
            </div>
            <div>
              <a href ="{% url 'club:meetingInfo' meeting.4 meeting.2 %}">
                <button class="btn mybtn">이동</button>
              </a>
            </div>
          {% endif %}
          <div class="dropdown-divider"></div>
        {% endfor %}
      </ul>
  </li>



    <li class="nav-item">
      <a class="nav-link" href="{% url 'chongmu:mypage' %}">My Page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">로그아웃</a>
    </li>
    
  {% endblock %}