{% extends "chongmu/logined_base.html" %}
{% load static %}
 

  {% block body %}
      <!-- Main Content -->
      <section class="bg-light" id="myclub">
        <div class="container">
          <div class="row">
            <h3>가입한 클럽</h3>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-3">
              <div class="card" style="width: 16rem; height: 16rem;">
                <a href="{% url 'chongmu:create' %}">
                <img class="card-img-top" src="{% static 'chongmu/img/plus.png' %}?var=1" alt="Card image cap" style="height: 11rem;">
                <div class="card-body">
                  <h5 class="card-subtitle text-center">클럽 생성</h5>
                </div>
                </a>
              </div>
            </div>

            {% for club in member.club_set.all%}
            <div class="col-sm-3">
                <div class="card" style="width: 16rem; height: 16rem;">
                  <a href="{% url 'club:index' club.id %}">
                  {% if club.photo %}
                  <img class="card-img-top" src="{{club.photo.url}}" alt="Card image cap" style="height: 11rem;">
                  {% else %}
                  <img class="card-img-top" src="{% static 'chongmu/img/example.jpg' %}" alt="Card image cap" style="height: 11rem;">
                  
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-subtitle text-center"> {{club.name}} </h5>
                  </div>
                  </a>
                </div> 
            </div>
            {% endfor %}
          </div>
        </div>
        
      </section>
      

      <section style="background-color:rgb(254, 255, 255)">
        <div class="container">
          <div class="row">
            <h3>모임 일정</h3>
          </div>
          <br>
          <div class="row">
            <div id='calendar'></div>
          </div>
          <br>
          </div>
        </div>
      </section>

      
  {% endblock %}






  {% block calendar %}
  <script>
    $(function () {
      // page is now ready, initialize the calendar...
      
      
      var jsonTextArray = new Array();
      var clubMeetingArray = new Array();

      jsonText = "{{ jsonArray|escapejs }}"
      clubMeetingArray = JSON.parse(jsonText)


      $('#calendar').fullCalendar({
        eventSources: clubMeetingArray,
        eventClick: function (event) {
          if (event.url) {
            window.open(event.url, '_self');
            return false;
          }
        }
      })
    });
  </script>
{% endblock %}