{% extends "chongmu/logined_base.html" %}
{% load static %}
 

  {% block body %}
      <!-- Main Content -->
      <section class="bg-light" id="myclub">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-9 center-block">

                    <div class="row">
                        <h3> 내 정보 </h3>
                    </div>
                    <br>
                    <div class="row">
                        <div class="card w-100">
                            <div class="card-body">
                                <div class="subheading"> 나의 예치금 미납 모임 </div>
                                <hr>
                                <h6> 블록체인 연구회 TOMAK XX모임 : 예치금 10000원 미납 </h6>
                                <hr>
                                <h6> 여행동아리 나침반 DD모임 : 예치금 50000원 미납 </h6>
                            </div>
                        </div>

                        <div class="card w-100 mt-3">
                            <div class="card-body">
                                <div class="subheading"> 예치금 환급 내역 </div>
                                <hr>
                                <h6> 블록체인 연구회 TOMAK TT모임 : 예치금 전액환급 </h6>
                                <hr>
                                <h6> 여행동아리 나침반 DD모임 : 예치금 10000원 중 5000원 환급 (지각) </h6>
                            </div>
                        </div>

                        <div class="card w-100 mt-3">
                            <div class="card-body">
                                <div class="subheading"> 나의 주최 모임 예치금미납자 현황 </div>
                                <hr>
                                <h6> 블록체인 연구회 TOMAK DD모임 : 정주안, 이상엽, 전유진 </h6>
                                <hr>
                                <h6> 여행동아리 나침반 hh모임 : 서태후, 이홍석, 강솔 </h6>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
      </section>

      
  {% endblock %}


