@import url(../../static/admin/css/fonts.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@import url(../../static/admin/css/fonts.css);

.member {
 font-size: 50px;
 text-shadow: 0 0 10px #666;
 color: #fff;
 margin: 0 auto;
 text-align: center;
 text-transform: capitalize;
 font-family: "맑은 고딕";
 font-style: italic;
}

body {
  font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
  /*height : 50%;*/
/*  margin-top : -50px;*/
 /*font-size: 15px;*/
}
.menubar{
  background-color : rgb(73, 127, 207);
}

.wrapper_table{
 margin: 70px auto;
 box-shadow :0 0 10px #bbb;
 /*border: 1px solid blue;*/
 height: auto;
 text-align: center;
 width: 500px;

}
/*join_header*/
.wrapper_table/* .join_header*/{
 background-color: rgb(54, 68, 98);/*#3c9;*/
 color : rgb(221, 221, 221);
 text-align: center;
 border-bottom: 1px solid #bbb;
 height: 300px;
 width : 498px;
}
/*
.join_header p{
 float: left;
 font-size: 1.2em;
 font-weight: bold;
 padding: 13px 0px 30px 13px;
}*/
/*join_body*/
.wrapper_table .join_body{
/* border-bottom: 1px solid #bbb;*/
 font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
 height: auto;
 text-align: center;
 /*background: rgb(210, 135, 194);*/
 padding: 0px 50px 20px 50px;
}


.form {
 width: 600px;/*498px;*/
 height: 600px;/*300px;*/
 /*border-radius: 25px;*/
 box-shadow :0 0 10px #bbb;
 margin: 100px auto;
 /*margin-left, margin-right : 500px auto;*/
 padding : 100px auto;
 /*background-color : white;*/
 /*margin: 0;
 padding: 0;*/
 float : center;
 background : rgba(255, 255, 255, 0.2);
}

.form2 {
 width: 450px;/*380px;*/
 min-width: 400px;/*320px;*/
 height: 450px;/*150px;*/
 margin: 70px auto;
 /*margin-left : 10px;*/
 /*margin-left:20px;*/
 /*background-color : red;*/
}
.form3{
  margin-left : 10px;
  font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;

}
.form3 label {
 width: 80px;
 height: 20px;
 /*font-size: 18px;*/

 /*left : -60px;*/
 /*  display: block; */
 float: left;
 /*background-color :purple;*/
}
.form3 input{
  height : 30px;
  margin-left : 10px;
}

.form4 {
/*  margin : 0px 0px 10px 10px;*//*상하우좌*/
 padding: 0px 0px 0px 270px;
 /*background-color :yellow;*/
}
.font1{
  font-family: 'Noto Sans KR', sans-serif;
  font-size : 30px;
  font-weight: bold;
}
.font2{
  font-family: 'Noto Sans KR', sans-serif;
  font-size : 20px;
}
#wrap {
 width: 600px;
 height: 500px;
 margin: 0 auto;
 /*background-color :rgb(221, 136, 136);*/
}

.clear {
 clear: both;
}


input[type="button"] {
 border-radius: 5px;
 height: 50px;
 background: rgb(54, 68, 98);/*gray;*/
 color : rgb(210, 210, 210);

 width: 400px;/*167px;*/
 /*font-family:"맑은 고딕";*/
 margin-top:27px;
 margin-right:20px;
 font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
 font-size : 18px;


}
input[type="checkbox"] {
 margin-top:20px;
}
.container{

  margin: 0px auto;
}
